node-red/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":570,"y":100,"wires":[]},{"id":"a6dba0e5.418a4","type":"http in","z":"f6f2187d.f17ca8","name":"Mist Webhook","url":"/mist","method":"post","upload":false,"swaggerDoc":"","x":70,"y":300,"wires":[["c5efb7b2.2b745","358288b.b71a878"]]},{"id":"c5efb7b2.2b745","type":"change","z":"f6f2187d.f17ca8","name":"Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"received\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":420,"wires":[["1ca83b03.dd24fd"]]},{"id":"1ca83b03.dd24fd","type":"http response","z":"f6f2187d.f17ca8","name":"Webhook Response","statusCode":"","headers":{},"x":280,"y":500,"wires":[]},{"id":"6cd94fba.2377a8","type":"debug","z":"f6f2187d.f17ca8","name":"Audit Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":700,"wires":[]},{"id":"fe751814.f1794","type":"change","z":"f6f2187d.f17ca8","name":"Notify Properties from headers","rules":[{"t":"set","p":"notify_type","pt":"msg","to":"req.headers[\"x-notify-type\"]","tot":"msg"},{"t":"set","p":"notify_url","pt":"msg","to":"req.headers[\"x-notify-url\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["fc75975b.cac848"]]},{"id":"fc75975b.cac848","type":"switch","z":"f6f2187d.f17ca8","name":"Topic Selection","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"device-events","vt":"str"},{"t":"eq","v":"alarms","vt":"str"},{"t":"eq","v":"audits","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":680,"y":320,"wires":[["c9759324.324b48"],["524dce6f.50a56"],["6a7f8086.78b888"],[]]},{"id":"99091619.a3af4","type":"switch","z":"f6f2187d.f17ca8","name":"Output Type","property":"notify_type","propertyType":"msg","rules":[{"t":"eq","v":"teams","vt":"str"},{"t":"eq","v":"slack","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":600,"wires":[["e3132d03.0512f"],["4e853f7a.d06bb"]]},{"id":"6a7f8086.78b888","type":"splitter","z":"f6f2187d.f17ca8","name":"Audit Event Splitter","property":"payload.events","x":850,"y":600,"wires":[["99091619.a3af4","6cd94fba.2377a8"]]},{"id":"67777337.93cbfc","type":"template","z":"f6f2187d.f17ca8","name":"Slack Audit Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Mist Audit*\\nAdmin: {{payload.admin_name}}\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"image\",\n\t\t\t\t\"image_url\": \"https://manage.mist.com/images/logo-grey.png\",\n\t\t\t\t\"alt_text\": \"Mist\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*User:*\\n {{payload.admin_name}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Source IP:*\\n {{payload.src_ip}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Device:* \\n {{payload.device_id}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Site:*\\n {{payload.site_id}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Timestamp:*\\n {{payload.timestamp}}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"{{payload.message}}\\nhttps://manage.mist.com/admin/?org_id={{payload.org_id}}#!auditLogs\"\n\t\t\t}\n\t\t}\n\t]\n}","output":"json","x":1580,"y":640,"wires":[["68bd6923.8c8048","a3c28fcc.1b21e"]]},{"id":"e3132d03.0512f","type":"template","z":"f6f2187d.f17ca8","name":"Teams Audit Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"https://schema.org/extensions\",\n    \"summary\": \"Issue 176715375\",\n    \"themeColor\": \"0078D7\",\n    \"title\": \"Mist Audit - Admin: {{payload.admin_name}}\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Mist Alarm\",\n            \"activitySubtitle\": \"{{payload.type}}\",\n            \"activityImage\": \"https://manage.mist.com/images/logo-grey.png\",\n            \"facts\": [\n                {\n                    \"name\": \"User:\",\n                    \"value\": \"{{payload.admin_name}}\"\n                },\n                {\n                    \"name\": \"Source IP:\",\n                    \"value\": \"{{payload.src_ip}}\"\n                }\n            ],\n            \"text\": \"{{payload.message}}\"\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"Open in Audit Log\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"https://manage.mist.com/admin/?org_id={{payload.org_id}}#!auditLogs\"\n                }\n            ]\n        }\n    ]\n}","output":"json","x":1400,"y":560,"wires":[["5ea7ca06.358a94"]]},{"id":"524dce6f.50a56","type":"splitter","z":"f6f2187d.f17ca8","name":"Alarms Event Splitter","property":"payload.events","x":900,"y":440,"wires":[["a9215491.0935c","a0d5fd7d.1338"]]},{"id":"a9215491.0935c","type":"switch","z":"f6f2187d.f17ca8","name":"Output Type","property":"notify_type","propertyType":"msg","rules":[{"t":"eq","v":"teams","vt":"str"},{"t":"eq","v":"slack","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":440,"wires":[["1d87bbbd.c7758c"],["6539e1b9.2d0508"]]},{"id":"1d87bbbd.c7758c","type":"template","z":"f6f2187d.f17ca8","name":"Teams Alarm Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"https://schema.org/extensions\",\n    \"summary\": \"Issue 176715375\",\n    \"themeColor\": \"0078D7\",\n    \"title\": \"Mist Alarm - Site: {{payload.site_name}}\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Mist Alarm\",\n            \"activitySubtitle\": \"{{payload.type}}\",\n            \"activityImage\": \"https://manage.mist.com/images/logo-grey.png\",\n            \"facts\": [\n                {\n                    \"name\": \"Devices:\",\n                    \"value\": \"{{payload.aps}} {{payload.switches}}\"\n                },\n                {\n                    \"name\": \"Severity:\",\n                    \"value\": \"{{payload.severity}}\"\n                }\n            ],\n            \"text\": \"\"\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"Open in Mist\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"https://manage.mist.com/admin/?org_id={{payload.org_id}}#!alerts/{{payload.site_id}}\"\n                }\n            ]\n        }\n    ]\n}","output":"json","x":1440,"y":400,"wires":[["8d18624b.11065"]]},{"id":"6539e1b9.2d0508","type":"template","z":"f6f2187d.f17ca8","name":"Slack Alarm Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Mist Alarm*\\nSite : {{payload.site_name}}\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"image\",\n\t\t\t\t\"image_url\": \"https://manage.mist.com/images/logo-grey.png\",\n\t\t\t\t\"alt_text\": \"Mist\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Type:*\\n {{payload.type}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Type:*\\n {{payload.type}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*APs:* \\n {{payload.aps}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Switches:*\\n {{payload.switches}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Severity:*\\n {{payload.severity}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"*Timestamp:*\\n {{payload.timestamp}}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"https://manage.mist.com/admin/?org_id={{payload.org_id}}#!alerts/{{payload.site_id}}\"\n\t\t\t}\n\t\t}\n\t]\n}","output":"json","x":1440,"y":460,"wires":[["e60413c.77099f","1e0aa38a.cb63dc"]]},{"id":"c9759324.324b48","type":"splitter","z":"f6f2187d.f17ca8","name":"Device Event Splitter","property":"payload.events","x":900,"y":300,"wires":[["6b6dff62.339e2","6e040ea7.c59ad"]]},{"id":"6b6dff62.339e2","type":"switch","z":"f6f2187d.f17ca8","name":"Output Type","property":"notify_type","propertyType":"msg","rules":[{"t":"eq","v":"teams","vt":"str"},{"t":"eq","v":"slack","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":300,"wires":[["30cc61c9.4454a6"],["9512c90a.470c8"]]},{"id":"30cc61c9.4454a6","type":"template","z":"f6f2187d.f17ca8","name":"Teams Device Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":1450,"y":260,"wires":[[]]},{"id":"9512c90a.470c8","type":"template","z":"f6f2187d.f17ca8","name":"Slack Device Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":1440,"y":320,"wires":[[]]},{"id":"a0d5fd7d.1338","type":"debug","z":"f6f2187d.f17ca8","name":"Alarm Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":520,"wires":[]},{"id":"6e040ea7.c59ad","type":"debug","z":"f6f2187d.f17ca8","name":"Device Events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":360,"wires":[]},{"id":"c78c78e0.3106f8","type":"template","z":"f6f2187d.f17ca8","name":"Slack Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"text\": \"AP Software Upgraded\\nAP: {{ap_name}} \\nSite: {{site_name}} \\nCurrent Version: {{current_version}} \\nNew Version: {{downgrade}}\"\n}","output":"json","x":910,"y":780,"wires":[[]]},{"id":"ab2c2775.8905a8","type":"debug","z":"f6f2187d.f17ca8","name":"Secret","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":220,"wires":[]},{"id":"358288b.b71a878","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"req.headers[\"x-notify-secret\"]","propertyType":"msg","rules":[{"t":"eq","v":"WEBHOOK_SECRET","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":260,"wires":[["fe751814.f1794","ab2c2775.8905a8"],["874b8ae5.45a158"]]},{"id":"874b8ae5.45a158","type":"debug","z":"f6f2187d.f17ca8","name":"No-Secret","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":440,"wires":[]},{"id":"5ea7ca06.358a94","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"notify_url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":560,"wires":[["35c86bb7.c0188c"]]},{"id":"35c86bb7.c0188c","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1830,"y":560,"wires":[["fd0fdc66.ccc6d8"]]},{"id":"fd0fdc66.ccc6d8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1990,"y":560,"wires":[]},{"id":"8d18624b.11065","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"notify_url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":400,"wires":[["defc18ef.e29a6"]]},{"id":"defc18ef.e29a6","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1830,"y":400,"wires":[["6bc63d30.dfba94"]]},{"id":"6bc63d30.dfba94","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1990,"y":400,"wires":[]},{"id":"eedd174c.7963e8","type":"http request","z":"f6f2187d.f17ca8","name":"Slack Messaging","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1930,"y":460,"wires":[["e60413c.77099f"]]},{"id":"e60413c.77099f","type":"debug","z":"f6f2187d.f17ca8","name":"slackdebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2050,"y":520,"wires":[]},{"id":"6ec4a1b5.5c9de","type":"http request","z":"f6f2187d.f17ca8","name":"Slack Messaging","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2010,"y":640,"wires":[["68bd6923.8c8048"]]},{"id":"68bd6923.8c8048","type":"debug","z":"f6f2187d.f17ca8","name":"slackdebugaudit","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1780,"y":720,"wires":[]},{"id":"4e853f7a.d06bb","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nmsg.payload.message = msg.payload.message.replace(/[^a-zA-Z ]/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":660,"wires":[["68bd6923.8c8048","67777337.93cbfc"]]},{"id":"1e0aa38a.cb63dc","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"notify_url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":460,"wires":[["eedd174c.7963e8"]]},{"id":"a3c28fcc.1b21e","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"notify_url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":640,"wires":[["6ec4a1b5.5c9de"]]}]